common:prof-libunwind --//settings/flags:enable_xmalloc
common:prof-libunwind --//settings/flags:enable_prof=libunwind

common:prof-libgcc --//settings/flags:enable_xmalloc
common:prof-libgcc --//settings/flags:enable_prof=libgcc

common:prof-gcc --//settings/flags:enable_xmalloc
common:prof-gcc --//settings/flags:enable_prof=gcc
